blinker
Bottleneck
Brotli
cachelib
certifi
cffi
charset-normalizer
click
dash==2.18.0
dash-bootstrap-components
dash-core-components
dash-extensions
dash-html-components
dash-table
dash_auth
dash_leaflet
dataclass-wizard
EditorConfig
Flask
Flask-Caching
geobuf
gunicorn
h2
hpack
hyperframe
idna
importlib_metadata
itsdangerous
Jinja2
jsbeautifier
MarkupSafe
more-itertools
nest_asyncio
numexpr
numpy
packaging
pandas
plotly
protobuf
pycparser
PySocks
python-dateutil
pytz
requests
retrying
setuptools
six
tenacity
typing_extensions
tzdata
urllib3
Werkzeug
wheel
zipp
zstandard